.container {
  min-height: 100vh;
  display: flex;
  width: 100vw;
}

.profile {
  width: 100%;
}

.profile-container,
.profile-content {
  margin: auto;
  width: 30%;
  padding: .5rem;
  border: 1px solid rgb(180, 176, 176);
  background: white;
}

.profile-content {
  border-top: 0px;
  border-bottom-right-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.profile-container {
  border-bottom: 0px;
  border-top-right-radius: .4rem;
  border-top-left-radius: .4rem;
}

p {
  font-size: large;
}

span {
  font-weight: bold;
}

.image-container {
  width: 100%;

  >div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media screen and (max-width: 1000px) {
  .profile-container {
    margin: auto;
    width: 50%;

  }
}

@media screen and (max-width: 799px) {
  .profile-container {
    margin: auto;
    width: 60%;

  }
}

@media screen and (max-width: 599px) {
  .profile-container {
    margin: auto;
    width: 70%;

  }
}